html,
body {
	overflow: auto;
	width: 100%;
	height: 100%;
}

body {
	overflow: auto;
	color: #d1d1d1;
	background-color: #252525;
	text-align: center;
	margin: 0%;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #b1e575;
}

form {
	padding: 1em;
	background-color: #0a2d2d;
	border: 0.25em solid #b1e575;
	border-radius: 1em;
}

form input,
select,
button {
	margin: 1em;
	background-color: #dea5a2;
	color: #252525;
	border-color: #b1e575;
	border-radius: 0.25em;
}

.main-content {
	max-width: 50%;
	margin: auto;
}

.split-up {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	gap: 2em;
}
